`json2csvAsync` cannot use `delimiter` wrap with '"'

## Background Information
- Module Version: `3.5.7`
- Node/Browser Version: `12.8.0`

The issue I'm reporting is with:
- `json2csvAsync` cannot use `delimiter` wrap all field 

## Expected Behavior
"null","null","null"
"null","null","null"

## Actual Behavior
null,null,null
null,null,null

## Data Sample 
JSON:
```json
[
   {
      "a": null,
      "a": null,
      "a": null
    },{
      "a": null,
      "a": null,
      "a": null
   }
]
```


## Code Example
```javascript
const converter = require('json-2-csv');
const options = {
      checkSchemaDifferences: false,
      "delimiter": { 'wrap': `"` },
};
converter.json2csv(documents, (err, data) => { 
      ....
      resolve(data);
});
```

Hi @kritsanaCh57. Thanks for reporting this. The way the module was designed is such that only field values that need to be wrapped in quotes will be per [RFC-4180 section 2.5](https://tools.ietf.org/html/rfc4180#section-2). In this case, the CSV that is generated is still valid, and allows for the CSV to JSON functionality to also be able to interpret the data type again if the data needs to be converted back to JSON later on, whereas if the value was quote wrapped then that wouldn't be possible. Is there a specific use case or issue that you're running into where you need all of the values to be wrapped in quotes? I could take a look at an option to override the logic so that all fields are quote wrapped if there's a use case for it.